* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr; /* عمود واحد */
    grid-template-rows: auto auto; /* صفين */
    gap: 20px; /* المسافة بين العناصر */
}

.clock,.day {
    font-size: 48px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center; /* توسيط النص */
}
